<div class="thanks">
  <img [src]="typeImage" alt="success image report" class="thanks__img">
  <p class="thanks__title">
    SUCCESS!
  </p>
  <p class="thanks__subtitle">
    Thank you for your report.
  </p>
  <p class="thanks__subtitle">
    We will notify you when it's on the map
  </p>

  <p *ngIf="isShowTips" class="thanks__tips">
    <a target="_blank" href="https://bnpb.go.id/en/infografis/detail/siaga-bencana-gempa-bumi.html">
      Click here for safety tips from BNPB
    </a> 
  </p>

</div>
