<div class="thanks">
  <img [src]="typeImage" alt="success image report" class="thanks__img">
  <p class="thanks__title">
    SUCCESS!
  </p>
  <p class="thanks__subtitle">
    Thank you for your report.
  </p>
  <p class="thanks__subtitle">
    We will notify you when it's on the map
  </p>

  <p *ngIf="isShowReportAgain" class="thanks__again">	
    Would you like to submit another report?	
  </p>
  <div *ngIf="isShowReportAgain" class="thanks__btn-group">	
    <a class="thanks__btn" (click)="reportAnotherCard()">Yes</a>	
    <a class="thanks__btn" (click)="isShowReportAgain = false">No</a>	
  </div>
</div>
