.thanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #808281;
  color: white;

  &__img {
    width: 200px;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 0;
  }

  &__again {	
    font-size: 20px;	
    max-width: 80%;	
    text-align: center;	
    margin: 25px 0;	
  }

  &__subtitle {
    max-width: 80%;
    text-align: center;

    &:nth-of-type(2) {
      margin-bottom: 0
    }

    &:nth-of-type(3) {
      margin-top: 0;
      margin-bottom: 25px;
    }
  }

  &__tips a {
    color: white;
  }

  &__btn-group {
    max-width: 400px;
    width: 80%;
  }

  &__btn {
    font-size: 17.5px;
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 7.5px;
    padding: 10px 50px;
    border: 1.5px solid white;
    background-color: #6D6E6D;
    cursor: pointer;
    transition: background-color .5s;

    &:hover {
      color: #6D6E6D;
      background-color: white;
    }
  }
}

@media (max-height: 841px) {
  .thanks {
    &__img {
      width: 125px;
    }

    &__again {	
      font-size: 18px;	
      margin: 15px 0;	
    }
    
    &__subtitle {
      &:nth-of-type(3) {
        margin-bottom: 5px;
      }
    }

    &__btn {
      margin: 10px auto;
      padding: 7.5px 37.5px;
    }
  }
}

@media (max-height: 560px) {
  .thanks {
    &__img {
      width: 100px;
    }

    &__btn {
      margin: 10px auto;
      padding: 7.5px 37.5px;
    }
  }
}

@media (max-width: 481px) {
  .thanks__subtitle {
    font-size: 12px;
  }

  .thanks__again {	
    font-size: 16px;	
  }
}
