<div class="structure">
  <img 
    [src]="image" 
    alt="Structure" 
    class="structure__img"
  >

  <div class="structure__slider">
    <input 
      type="range" name="structure__slider-range" 
      min="0" max="2" 
      [ngClass]="['structure__slider-range', 'range-' + structure]" 
      (change)="onInputChange($event.target.value)"
      [value]="structure"
    >

    <div class="left-arrow"><i class="fa fa-angle-left"></i></div>
    <div class="right-arrow"><i class="fa fa-angle-right"></i></div>
  </div>

  <p class="structure__txt">{{ title }}</p>
</div>
