<form  (ngSubmit)="onSubmit()" class='search-location-form' autocomplete="off">

  <div class='search-location-form__search-bar-wrapper'>
    <input
      type="text" class="search-location-form__input"
      placeholder="{{ searchText }}"
      [(ngModel)]="query" name="search"
      (ngModelChange)="onInputChange($event)"
      model.bind = "city"
      #searchBar
    >
    <button type="submit" class="search-location-form__btn"><span class="material-icons">search</span></button>
  </div>

  <div  class='dynamic-search-results-container' [ngStyle]="{'display': dynamicResultsDisplay }" style="display: none;">
    <div class='dynamic-search-results-wrapper' >
      <div #searchResult (click)= 'onOptionClick(city)' class='dynamic-search-results__result' *ngFor="let city of searchResult" [ngStyle]="{'display': popupDisplay}"  >
        <h3 #searchResultText  click.delegate="switchRegion(city, true)" >{{city}}</h3>
      </div>
    </div>
  </div>
</form>
