.firetype {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 90vh;

  .fire {
    cursor: pointer;

    &__img {
      width: 200px;
      height: 200px;
      margin: 0 auto;
      display: block;
      cursor: pointer;

      background: {
        image: url("../../../../assets/decks/fire/firetype/AddFireReport.png");
        size: contain;
        repeat: no-repeat;
      }
    }
  
    &__btn {
      display: block;
      color: white;
      margin: 20px auto 10px;
      border-radius: 7.5px;
      padding: 10px 50px;
      border: 1.5px solid white;
      background-color: #6D6E6D;
      cursor: pointer;
    }
  
    &__hint {
      color: white;
      font-size: 10px;
      text-align: center;
  
      &::before {
        content: "*";
      }
    }

    &:hover {
      .fire__img {
        background-image: url("../../../../assets/decks/fire/firetype/AddFireReport_Highlight.png");
      }

      .fire__btn {
        color: #6D6E6D;
        background-color: white;
      }
    }
  }
  
  .haze {
    cursor: pointer;
    
    &__img {
      width: 200px;
      height: 200px;
      margin: 0 auto;
      display: block;
      cursor: pointer;
    
      background: {
        image: url("../../../../assets/decks/fire/firetype/AddHazeReport.png");
        size: contain;
        repeat: no-repeat;
      }
    }
  
    &__btn {
      display: block;
      color: white;
      margin: 20px auto 10px;
      border-radius: 7.5px;
      padding: 10px 50px;
      border: 1.5px solid white;
      background-color: #6D6E6D;
      cursor: pointer;
    }

    &:hover {
      .haze__img {
        background-image: url("../../../../assets/decks/fire/firetype/AddHazeReport_Highlight.png");
      }

      .haze__btn {
        color: #6D6E6D;
        background-color: white;
      }
    }
  }
}

@media (max-width: 721px) {
  .firetype {
    flex-direction: column;
  }
}

@media (max-width: 721px) and (max-height: 761px) {
  .firetype {
    .fire {
      &__img {
        width: 150px;
        height: 150px;;
      }
    
      &__btn {
        padding: 7.5px 37.5px;
      }
    }
  
    .haze {
      &__img {
        width: 150px;
        height: 150px;;
      }
    
      &__btn {
        padding: 7.5px 37.5px;
      }
    }
  }
}