<div class="description">Indicate any observations:</div>
<div class="options">
  <div class="option">
    <p>Significant Temperature Increases</p>
    <img src="../../../../assets/decks/volcano/sign/Symptom_1.png" alt="Symptom_1">
  </div>
  <div class="option">
    <p>Drought / Vegetation Death</p>
    <img src="../../../../assets/decks/volcano/sign/Symptom_2.png" alt="Symptom_2">
  </div>
  <div class="option">
    <p>Unusual Animal Behaviour</p>
    <img src="../../../../assets/decks/volcano/sign/Symptom_5.png" alt="Symptom_5">
  </div>
  <div class="option">
    <p>Frequent Earthquake Tremors</p>
    <img src="../../../../assets/decks/volcano/sign/Symptom_3.png" alt="Symptom_3">
  </div>
  <div class="option">
    <p>Frequent Rumbling Sounds</p>
    <img src="../../../../assets/decks/volcano/sign/Symptom_4.png" alt="Symptom_4">
  </div>
</div>