:host {
	width: 80%;
}

#submitSlider {
	position: relative;
	width: 75%;
	max-width: 200px;
	height: 36px;
	margin: 0px auto;
	padding: 3px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 6px;
	box-shadow: inset 2px 5px 8px 0px rgba(0, 0, 0, 0.4);;
	overflow: hidden;
	z-index: 3;
	& #submitKnob {
		position: relative;
		cursor: pointer;
		width: 36px;
		height: 36px;
		border: none;
		border-radius: 6px;
		background-color: #31aade;
		outline: none;
		box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.4);
		float: left;
		z-index: 2;
		&:active {
			background-color: #31aade;
			box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.4);
		}
	}
	& .refText {
		margin: 0px;
		padding: 0px;
		color: #ffffff;
		opacity: 0.4;
		z-index: 1;
		float: left;
		&#ref1 {
			font-size: 30px;

			.fa-angle-double-right {
				margin: 0 10px;
			}
		}
		&#ref2 {
			font-size: 12px;
			line-height: 36px;
			font-family: 'Roboto-Light', 'Roboto', Open-sans;
		}
	}
}