<textarea 
  #desc
  name="textbox"
  class="textbox" 
  placeholder="{{ placeholder }}"
  [value]="description" 
  (input)="onChangeDescription($event.target.value)"
  [maxLength]="MAX_LENGTH"
>
</textarea>
<div class="bottom">
  <div class="icons">
    <i
      class="material-icons"
      id="disable_icon"
      (click)="onDisableButtonClick()"
    >
      block
    </i>
    <i
      class="material-icons active-icon"
      id="keyboard_icon"
    >
      keyboard
    </i>
  </div>
  <div class="counter" *ngIf="description.length > 0">
    {{ description.length }} / {{ MAX_LENGTH }}
  </div>
</div>

