:host {
  max-width: 60%;
  overflow-x: hidden;
}

.textbox {
  background-color: transparent;
  border: none;
  margin: 0;
  color: white;

  &::-moz-placeholder {
    color: black;
  }

  &::-webkit-input-placeholder {
    color: black;
  }

  width: 100%;
  padding-bottom: 5px;

  &:focus {
    outline: none;
  }

  &__icons {
    width: 300px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .material-icons {
      cursor: pointer;
      margin: 0 5px;
      color: #6D6E6D;
    }

    .active-icon {
      color: white;
    }
  }

  &.red {
    border-bottom: 2.5px solid #EE1D23;
  }

  &.orange {
    border-bottom: 2.5px solid #F15A2B;
  }
}
