:host {
  width: 60%;
  max-width: 300px;
  overflow: hidden;
}

.textbox {
  background-color: transparent;
  border: none;
  margin: 0;
  height: 200px;
  color: white;

  &::-moz-placeholder {
    color: black;
  }

  &::-webkit-input-placeholder {
    color: black;
  }

  width: 100%;

  &:focus {
    outline: none;
  }

  &__warning {
    display: flex;
    font-family: sans-serif;
    color: white;
    padding: 20%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #6C6D70;
    height: 200px;
    border: 2.5px solid white;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  border-top: 2.5px solid #31AADE;
  margin-top: 10px;
  padding-top: 5px;
}

.icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .material-icons {
    cursor: pointer;
    margin: 0 5px;
    color: #6D6E6D;
  }

  .active-icon {
    color: white;
  }
}

.counter {
  color: #424242;
  font-size: 14px;
  display: flex;
  align-items: center;
}
