<div class="airquality">
  <p class="airquality__title">Indikasi Gejala:</p>
  <div class="airquality__input">
    <input 
      type="range" min="0" max="4" value="0" 
      [ngClass]="['airquality__range', 'stage-' + rangeValue ]" 
      (change)="onRangeChanged($event)" #range
      orient="vertical"
    >
    <div class="airquality__types">
      <div 
        *ngFor="let fact of facts; let i = index" 
        [ngClass]="{ 'airquality__type': true, 'highlight': rangeValue == i }"
        (click)="onFactClicked(i, range)"
      >
        <p class="airquality__type-text">{{ fact }}</p>
        <img 
          [ngClass]="{ 'airquality__type-icon': true, 'none': i == 0 }" alt="air quality icon"
          src="../../../../assets/decks/fire/airquality/type/AirQuality_Icon_{{i}}.png" 
        >
      </div>
    </div>
  </div>
</div>