<div class="report-review">
  <img 
    id="preview-img" src="https://via.placeholder.com/150" 
    alt="fire image" class="report-review__img"
  >
  <div class="report-review__txt">
    <ng-template [ngIf]="deckType === 'fire'">
      <div class="report-review__fire">
        Perkiraan kebakaran:
        <span class="report-review__fire-dist">
          {{ fireRange }} hectare
        </span>
      </div>
    </ng-template>

    <ng-template [ngIf]="deckType === 'haze'">
      <div class="row" *ngIf="airQuality !== ''">
        <img id="airquality" src="" alt="Air Quality Indicator">
        <div>
          <p>Air Quality: </p>  
          <p id="airquality-text">{{ airQuality }}</p>
        </div>
      </div>
      <div class="row">
        <img id="visibility" src="" alt="Air Quality Indicator">
        <div>
          <p>Visibility: </p>  
          <p>{{ visibility }}</p>
        </div>
      </div>
    </ng-template>

    <ng-template [ngIf]="deckType === 'road'">
      <div class="report-review__road-acc">
        <p>Access: <span class="yellow">
            {{ accessibility }}m
        </span></p>
        <p class="yellow">{{ accessibilityHint }}</p>
      </div>
      <div class="report-review__road-dist">
        Disturbance: {{ condition }}
      </div>
    </ng-template>

    <ng-template [ngIf]="deckType === 'structure' || deckType === 'wind'">
      <div [style.margin-top]="'10px'">
        <p>{{ structuralFailure }}</p>
      </div>
    </ng-template>

    <div class="report-review__txt-desc">
      {{ description }}
    </div>
  </div>
</div>
