<div class="report-review">
  <img 
    id="preview-img" src="https://via.placeholder.com/150" 
    alt="fire image" class="report-review__img"
  >
  <div class="report-review__txt">
    <ng-template [ngIf]="deckType === 'fire'">
      <p>
        Perkiraan kebakaran:
        <span class="report-review__txt-dist">
          {{ fireRange }} hectare
        </span>
      </p>
    </ng-template>

    <ng-template [ngIf]="deckType === 'haze'">
      <p>Haze</p>  
      <div>
        <img src="" alt="">
        <div>
          <p>Air Quality: </p>  
          <p>{{ airQuality }}</p>
        </div>
      </div>
      <div>
        <img src="" alt="">
        <div>
          <p>Visibility: </p>  
          <p>{{ visibility }}</p>
        </div>
      </div>
    </ng-template>

    <ng-template [ngIf]="deckType === 'road'">
      <div>
        <p>Access: {{ roadAccessibility }}</p>
        <p>{{ roadAccessibilityHint }}</p>
      </div>
    </ng-template>

    <p class="report-review__txt-desc">
      {{ description }}
    </p>
  </div>
</div>
