:host {
  width: 100%;
}

.report-review {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 200px;
  align-items: center;
  margin-bottom: 20px;

  &__img {
    max-height: 200px;
    display: block;
  }

  &__txt {
    box-sizing: border-box;
    word-break: break-word;
    padding: 20px;
    height: 100%;
    color: white;
    background-color: #424243;

    &-dist {
      display: block;
      color: red;
      margin-top: 0;
    }
  }
}

@media (max-width: 481px) {
  .report-review {
    height: 140px;

    &__img {
      max-height: 140px;
    }

    &__txt {
      // font-size: 10px;
      font-size: 14px;
      padding: 5px 15px;
    }
  }
}
