/* You can add global styles to this file, and also import other style files */

@import '~material-design-icons/iconfont/material-icons.css';

html, body {
  top: 0;
  left: 0;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

// MODIFY TOP LEFT GET CURRENT LOCATION APPEARANCE

.locate {
  height: 100%;
  background-image: url('../assets/decks/fire/location/locate.svg');
  display: block;
  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat;
}

// MODIFY TOP RIGHT COMPASS APPEARANCE

.leaflet-compass.leaflet-control {
  background-color: transparent !important;
  box-shadow: none !important;
  cursor: pointer;
}

.leaflet-compass .compass-icon {
  background: url("../assets/decks/fire/location/NorthArrow.png") center center no-repeat !important;
  background-size: 32px !important;
}