<div class="fire">
  <div>
    <app-title-box
      [title]="navController.getCardPath() | translate"
      [tabs]="[navController.cardRoutes.length, navController.cardCounter]">
    </app-title-box>
  </div>
  
  <router-outlet>
  </router-outlet>
  
  <div id="navWrapper" *ngIf="navController.cardCounter > 0">
    <app-nav-button
      [text]="'KEMBALI'"
      (navigate)="navController.back(route)">
    </app-nav-button>
  
    <app-nav-button
      [text]="'LANJUTKAN'"
      (navigate)="navController.next(route)">
    </app-nav-button>
  </div>  
</div>