#mapid { 
  height: 100%;
  width: 100%; 
}

.fire-distance {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__search {
    z-index: 999;
    position: fixed;
    top: 60px;
    display: block;
    width: 75%;
    height: 35px;
    border-radius: 10px;
    border: none;
    text-align: center;
  }
}

@media (max-width: 481px) {
  .fire-distance {
    &__search {
      width: 70%;

      &::placeholder {
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 321px) {
  .fire-distance {
    &__search {
      width: 65%;

      &::placeholder {
        font-size: 8px;
      }
    }
  }
}