<div class="thanks">
  <img 
    src="../../../assets/decks/fire/thanks/SuccessHazeReport.png" 
    alt="success image report" class="thanks__img">
  <p class="thanks__title">SUKSES!</p>
  <p class="thanks__subtitle">
    Terima kasih atas laporan Anda.
  </p>
  <p class="thanks__subtitle">
    Kami akan kirim notifikasi saat sudah dipetakan.
  </p>
  <p class="thanks__again">Mau submit laporan lainnya?</p>
  <div class="thanks__btn-group">
    <button class="thanks__btn">Ya</button>
    <button class="thanks__btn">Tidak</button>
  </div>
</div>