button {
  display: block;
  text-align: center;
  width: 150px;
  height: 40px;
  color: white;
  margin: 20px 10px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: rgba(66, 66, 66, 0.3);
  cursor: pointer;
  transition: background-color .5s;

  &:focus {
    outline: none;
  }

  &:hover {
    color: rgba(66, 66, 66, 0.3);
    background-color: white;
  }

  .arrow {
    &-left {
      margin-right: 2.5px;
    }

    &-right {
      margin-left: 2.5px;
    }
  }
}

@media (max-width: 381px) {
  button {
    width: 150px;
  }
}

@media (max-width: 361px) {
  button {
    height: 30px;
  }
}

@media (max-width: 321px) {
  button {
    width: 125px;
  }
}
