:host {
  flex: 1;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  height: 40px;
  font-size: 14px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
  transition: background-color .5s;
  background-color: rgba(66, 66, 66, 0.3);
  color: white;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  &.button-right {
    flex-direction: row-reverse;
  }

  &:disabled {
    color: #888;
  }

  &:focus {
    outline: none;
    background-color: rgba(66, 66, 66, 0.3);
    color: white;
  }

  &:active {
    outline: none;
    background: #5e5e5e;
    transform: translateY(1px);
    border-bottom: 0;
  }

  .arrow {
    &-left {
      margin-right: 5px;
    }

    &-right {
      margin-left: 5px;
    }
  }
}

@media (max-width: 381px) {
  button {
    width: 130px;
  }
}

@media (max-width: 321px) {
  button {
    width: 125px;
  }
}
