button {
  display: block;
  text-align: center;
  width: 175px;
  height: 40px;
  color: white;
  margin: 20px 10px;
  border-radius: 7.5px;
  border: 1.5px solid white;
  background-color: #6D6E6D;
  cursor: pointer;
  transition: background-color .5s;

  &:focus {
    outline: none;
  }

  &:hover {
    color: #6D6E6D;
    background-color: white;
  }
}
