<div class="firetype">
  <div class="fire">
    <img 
      class="fire__img" alt="add fire report" 
      src="{{ fireButtonImage }}" 
      (mouseover)="highlightImage($event, 'fire')" 
      (mouseleave)="highlightImage($event, 'fire')"
    />
    <button class="fire__btn btn-hovered">Kebakaran di dekat saya</button>
    <p class="fire__hint">Lokasi anda akan akan disembunyikan</p>
  </div>
  <div class="haze">
    <img 
      class="haze__img" alt="add haze report"
      src="{{ hazeButtonImage }}"
      (mouseover)="highlightImage($event, 'haze')" 
      (mouseleave)="highlightImage($event, 'haze')"
    /> 
    <button class="haze__btn btn-hovered">Tandai kabut asap di lokasi saya</button>
  </div>
</div>
