<div class="firetype">
  <div class="fire">
    <img class="fire__img" src="../../../../assets/decks/fire/firetype/AddFireReport.png" alt="add fire report">
    <button class="fire__btn">Kebakaran di dekat saya</button>
    <p class="fire__hint">Lokasi anda akan akan disembunyikan</p>
  </div>
  <div class="haze">
    <img class="haze__img" src="../../../../assets/decks/fire/firetype/AddHazeReport.png" alt="add fire report">
    <button class="haze__btn">Tandai kabut asap di lokasi saya</button>
  </div>
</div>
