.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

  &__text, &__text a {
    color: white;
    text-align: center;
  }
  &__text a {
    text-decoration: underline;
    cursor: pointer;
  }

  &__text {
    width: 80%;
    max-width: 400px;
    margin: 15px 0;
  }

  &__warning {
    width: 80%;
    color: white;
    font-size: 12px;
    text-align: center;
    margin: 15px 0;
  }
}

.captchaContainer {
  margin-bottom: 15px;
}

.rc-anchor-dark {
  background: #424243 !important;
}

@media (max-width: 481px) {
  .review__text {
    font-size: 12px;
  }
}

#termsPopup {
  display: none;
  position: fixed;
  top: 54%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%,-50%);
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.4);;
  z-index: 1030;
  background: #808080;
  & #termsHeader {
    width: 100%;
    height: 60px;
    position: absolute;
    top: -40px;
    background: #2f2f2f;
    color: white;
    text-align: center;
    display: table;
    & p {
      display: table-cell;
      vertical-align: middle;
    }
  }
  & #tabRow {
    position: absolute;
    top: 20px;
    width: 100%;
    height: 40px;
    background-color: #808080;
    border-bottom: 1px solid #31aade;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    & .termsTabs {
      width: 50%;
      height: 100%;
      float: left;
      text-align: center;
      // .bodylight-mixin(14px);
      cursor: pointer;
      & p {
        position: absolute;
        width: 50%;
        top: 50%;
        margin: 0;
        line-height: 15px;
        transform: translate(0,-50%);
      }
      &:hover {
        // .bodylight-mixin(14px);
        color: saturate(#31aade, 100%);
      }
      &.active {
        // .bodymedium-mixin(14px);
        color: #31aade;
        border-bottom: 4px solid #31aade;
      }
    }
  }
  #tabContent {
    width: 100%;
    height: 100%;
    overflow: scroll;
    
    & .termsContents {
      padding: 60px;
      color: white;
      margin: auto;
      width: 85%;
      font-family: "Roboto-Light", "Roboto", Open Sans;
      font-size: 12px;
      & a {
        font-family: "Roboto-Light", "Roboto", Open Sans;
        font-size: 12px;
        cursor: pointer;
        @media (min-width: 420px) {
          &:hover {
            color: saturate(#31aade, 100%);
          }
        }
        color: #31aade;
      }
      & p {
        .header {
          font-family: "Roboto", "Roboto", Open Sans;
          font-size: 14px;
          text-transform: uppercase;
        }
      }
    }
  }
  & #closeRow {
    position: absolute;
    width: 100%;
    height: 24px;
    bottom: 40px;
    color: #31aade;
    padding-right: 20px;
    background-color: black;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 1px solid #31aade;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.4);
    text-align: right;
    & p {
      line-height: 24px;
      font-family: "Roboto-Light", "Roboto", Open Sans;
      font-size: 12px;
      cursor: pointer;
      @media (min-width: 420px) {
        &:hover {
          color: saturate(#31aade, 100%);
        }
      }
      color: #31aade;
      margin: 0px;
    }
  }
}