<div class="review">
  <app-report-review>
  </app-report-review>
    
  <p class="review__text" *ngIf="!showWarning">
    By submitting this report you are agreeing to the 
    <a href="https://petabencana.id/">PetaBencana.id Contributors Agreement</a>
  </p>

  <div class="review__warning" *ngIf="showWarning">
    <p *ngIf="!isDescriptioORPhotoFilled()">
      <i class="fa fa-exclamation-circle"></i>  
      A photo OR description is required to make a report
    </p>
    <p *ngIf="!isLocationInIndonesia">
      <i class="fa fa-exclamation-circle"></i>  
      Unsupported location, report cannot be displayed on the map
    </p>
  </div>
  
  <app-submit-swipe>
  </app-submit-swipe>
</div>