.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

  &__text, &__text a {
    color: white;
    text-align: center;
    max-width: 80%;
  }

  &__text {
    margin: 15px 0;
  }
}

@media (max-width: 481px) {
  .review__text {
    font-size: 12px;
  }
}