<div class="review">
  <app-report-review>
  </app-report-review>

  <p class="review__text" *ngIf="!showWarning">
    {{'card.review.text' | translate}}
    <a (click)="showTerms()"> {{'card.review.terms' | translate}}</a>
  </p>

  <div class="review__warning" *ngIf="showWarning">
    <p *ngIf="isDescriptionAndPhotoEmpty">
      <i class="fa fa-exclamation-circle"></i>
      {{'validationErrors.noPhoto' | translate}}
    </p>
    <p *ngIf="!isPermittedLocation">
      <i class="fa fa-exclamation-circle"></i>
      {{'validationErrors.unsupportedLocation' | translate }}
      Unsupported location, report cannot be displayed on the map
    </p>
  </div>

  <div id="termsPopup">
    <div id="termsHeader">
      <p> {{'card.review.terms' | translate}} </p>
    </div>
    <div id="tabRow">
      <div
        *ngFor="let switch of termscontents; let i = index"
        [ngClass]="switch.tab_key"
        class="termsTabs"
        (click)="switchTab(switch.tab_key)"
      >
        <p>{{switch.tab_name | translate}}</p>
      </div>
    </div>
    <div id="tabContent">
      <div
        repeat.for="content of termscontents"
        class="termsContents"
        [innerHTML]="tabContent"
      ></div>
    </div>
    <div id="closeRow">
      <p (click)="closeTerms()">Close&nbsp;&nbsp;&nbsp;&nbsp;</p>
    </div>
  </div>
  <div class="captchaContainer"> 
    <form [formGroup]="captchaForm">
      <ngx-recaptcha2
        siteKey="6LdbMVIaAAAAAHnTSXOKsJrpkgD4BxneuVy1c_3-"
        (success)="handleSuccess($event)"
        data-theme='dark'
        formControlName="recaptcha">
      </ngx-recaptcha2>
    </form>
  </div>
  <app-submit-swipe swipeText="{{ 'card.swipeText' | translate}}">
  </app-submit-swipe>
</div>
