<div class="review">
  <app-report-review>
  </app-report-review>
    
  <p class="review__text" *ngIf="!showWarning">
    {{'card.review.text' | translate}} 
    <a href="https://petabencana.id/">{{'card.review.link' | translate}}</a>
  </p>

  <div class="review__warning" *ngIf="showWarning">
    <p *ngIf="isDescriptionAndPhotoEmpty">
      <i class="fa fa-exclamation-circle"></i>  
      A photo OR description is required to make a report
    </p>
    <p *ngIf="!isLocationInIndonesia">
      <i class="fa fa-exclamation-circle"></i>  
      Unsupported location, report cannot be displayed on the map
    </p>
  </div>
  
  <app-submit-swipe swipeText="{{ 'card.swipeText' | translate}}">
  </app-submit-swipe>
</div>