#titleText {
  width: 100%;
  height: 50px;
  text-align: center;
  color: white;
  background-color: #424243;
  line-height: 50px;
}

#tabsRow {
  position: absolute;
  display: table;
  table-layout: fixed;
  width: 100%;

  z-index: 999;

  .tabs {
    display: table-cell;
    background-color: #ccc;
    height: 5px;

    &.orange {
      background-color: #994D36;
    }

    &.filled {
      background-color: #31aade;

      &.orange {
        background-color: #f15a2b;
      }

      &.cyan {
        background-color: #55c1ac;
      }
    }
  }
}
