<div class="titleItems" [ngClass] = "{'partnerTitleItems': isPartner}">
  <span id="partnerIcon" (click)="showPartnerPopup()" >
    <img src="../assets/nav/partnerIcon.svg" alt="Partner Icon"/>
  </span>
  <span id="titleText">{{ title }} </span>
  <span></span>
</div>

<div id="tabsRow" *ngIf="isShowTabs">
  <div
    *ngFor="let tab of totalTabs; index as i"
    [ngClass]="[getCssClass(i)]"
  >
  </div>
</div>
  <div *ngIf="isShown" id="partnerCodePopup">
    <div id="closeRow">
      <span (click)="closePartnerPopup()">&times;</span>
    </div>
    <p><b>Anyone can submit a disaster report to PetaBencana.id </b></p>
    <p><u><b>To submit an anonymous disaster report, skip this step! </b></u></p>
    <p><b>If you are submitting a report as a partner organization, enter your code below</b></p>
    <input type="text" id="partnerCode" placeholder="Partner Code" [(value)]="partnerCode" />
    <a href = "mailto:abc@example.com?subject = Feedback&body = Message">
    <p><u>Forgot Partner code?</u></p>
    </a>
    <div id="submitRow">
      <button  (click)="submitCode()">Submit</button>
    </div>
    <p *ngIf="isError" id="partnerCodeError">
      Partner code not found or in inactive status , Kindly check your partner code or contact the admin
    </p>
</div>
