@import "./eqtype.style.mixins.scss";

.eqtype {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 90vh;

  .road {
    cursor: pointer;

    &__img {
      @include type-img(200px, "../../../../assets/decks/earthquake/eqtype/AddAccessReportIcon.png");
    }

    &__btn {
      @include type-btn;
    }

    &__hint {
      color: white;
      font-size: 10px;
      text-align: center;

      &::before {
        content: "*";
      }
    }

    &:hover {
      .road__img {
        background-image: url("../../../../assets/decks/earthquake/eqtype/AddAccessReportIcon_Click.png");
      }

      .road__btn {
        @include hovered-type-btn;
      }
    }
  }

  .structural {
    cursor: pointer;

    &__img {
      @include type-img(200px, "../../../../assets/decks/earthquake/eqtype/AddStructureFailureIcon.png");
    }

    &__btn {
      @include type-btn;
    }

    &:hover {
      .structural__img {
        background-image: url("../../../../assets/decks/earthquake/eqtype/AddStructureFailureIcon_Click.png");
      }

      .structural__btn {
        @include hovered-type-btn;
      }
    }
  }
}

@media (max-width: 721px) {
  .firetype {
    flex-direction: column;
  }
}

@media (max-width: 721px) and (max-height: 761px) {
  .firetype {
    .fire {
      &__img {
        width: 150px;
        height: 150px;
        ;
      }

      &__btn {
        padding: 7.5px 37.5px;
      }
    }

    .haze {
      &__img {
        width: 150px;
        height: 150px;
        ;
      }

      &__btn {
        padding: 7.5px 37.5px;
      }
    }
  }
}
