<div class="earthquake">
  <div>
    <app-title-box 
      [title]="'card.titles.' + navController.getCardPath() | translate" 
      [tabs]="[navController.cardRoutes.length, navController.cardCounter]"
      color="orange">
    </app-title-box>
  </div>

  <router-outlet>
  </router-outlet>

  <div id="navWrapper">
    <app-nav-button 
      [type]="'left'" 
      [text]="'deck.prev' | translate" 
      (navigate)="navController.back(route)"
    >
    </app-nav-button>

    <app-nav-button 
      [type]="'right'" 
      [text]="'deck.next' | translate" 
      (navigate)="navController.next(route)"
    >
    </app-nav-button>
  </div>
</div>
