:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 80vh;
  width: 100%;
}

.description {
  color: white;
  margin-bottom: 30px;
}

.options {
  width: 80%;
  max-width: 480px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .option {
    border: 1px solid rgb(202, 202, 202);
    width: 100%;
    border-radius: 15px;
    text-align: center;
    background-color: #6D6E6D;
    cursor: pointer;
    margin-top: 20px;
    padding: 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: rgb(167, 172, 167);
    }

    &.selected {
      border-color: white;
      background-color: #57585A;
      
      p {
        color: white;
      }
    }
  }
}

@media (max-height: 560px) {
  :host {
    font-size: 14px;
  }

  .description {
    margin-bottom: 15px;
  }

  .options {
    .option {
      margin-top: 10px;
      padding: 0 7.5px;
    }
  }
}